---
import Layout from "../../layouts/Layout.astro";
import { getLaunches } from "../../services/spacex";

export async function getStaticPaths() {
  const launches = await getLaunches();
  
  return launches.map((launch) => {
    return {
      params: { id: launch.id.toString() },
      props: { launch }
    };
  });
}

const { launch } = Astro.props;
---

<Layout title={`Lanzamiento ${launch.name}`}>
  <article class="flex flex-col gap-4 items-center">
    <h2 class="text-4xl text-white font-bold">
      {launch.name}
    </h2>
    
    {launch.links?.patch?.small && (
      <img 
        class="w-52 h-auto"
        src={launch.links.patch.small} 
        alt={`Patch for ${launch.name}`}
      />
    )}
    
    <p class="text-lg">{launch.details}</p>
  </article>
</Layout>
